header {
  background-color: #3F51B5;
  color: #fff;
  padding: 20px;
  box-shadow: 0 2px 2px -2px #444;
}

#container {
  width: 420px;
  display: block;
  position: relative;
  margin: 200px auto;
  background: #fff;
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2);
  overflow: hidden;
  border-radius: 10px;
}

.contact-action {
  color: #3F51B5;
  margin-right: 6px;
  background-color: #fff;
  border-radius: 5px;
  font-size: 0.8em;
}

.contact-action:hover {
  cursor: pointer;
  margin-top: 2px;
}

.contact-action:focus {
  outline: none;
}

.user {
  display: inline-block;
  float: left;
  margin-right: 15px;
  width: 10%;
}

.user img {
  width: 40px;
  border-radius: 50%;
  border: #fff 2px solid;
}

.add-contact {
  border: 1px solid #f1f1f1;
  height: 55px;
  padding: 5px;
  padding-left: 25px;
  display: block;
  width: 100%;
  font-size: 1em;
  color: #444;
}

.add-contact:focus {
  outline: none;
}

.contact-list {
  margin: 0;
  padding: 0;
}

.contact-list li {
  display: flex;
  align-items: center;
  color: #919191;
  padding: 10px;
  min-height: 60px;
}

.contact-icon {
  border-radius: 50%;
  float: left;
  margin-left: 10px;
  width: 10%;
  margin-right: 10px;
}

.contact-list .heading--name {
  color: #444;
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.contact-list .contact-info {
  width: 80%;
}

.contact-list .contact-item {
  display: inline-block;
  font-size: 0.7em;
  padding-top: 5px;
}

.contact-list .contact-item .fa {
  font-size: 1.3em;
  margin-right: 2px;
  margin-left: 2px;
}